# Environment
.env
.env.*

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Dependencies
vendor/
node_modules/

# Laravel app specific
apps/*/storage/framework/cache/data/*
apps/*/storage/framework/cache/laravel-excel/*
apps/*/storage/framework/sessions/*
apps/*/storage/framework/views/*
apps/*/storage/framework/testing/*
apps/*/storage/logs/*
apps/*/storage/debugbar/*
*.pid
*.seed
*~

# Logs
*.log

# Compiled files
*.class
*.o
*.pyc
